<!DOCTYPE html>
<html>
<head>
  <title>高校兼职平台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div style="width: 130px"></div>
    <a class="navbar-brand" href="/">
        <img src="/img/2.png" width="30" height="30" class="d-inline-block align-top" alt="">
        高校兼职
    </a>
    <div style="width: 30px"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><h4>首页</h4> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="User" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </a>
                <div class="dropdown-menu" aria-labelledby="User">
                    <a class="dropdown-item" href="#">个人中心</a>
                    <a class="dropdown-item" href="/user_set">帐号设置</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">退出</a>
                </div>
            </li>

        </ul>
    </div>
</nav>

     <div>
       <h2 id="act"></h2>
     </div>


     <script src="/jquery-3.0.0.js"></script>
     <script src="/myJS.js"></script>
</body>
<script>
    $(function () {
       var email=getQueryString("email");
       var code=getQueryString("code");
       activation(email,code);
    })
</script>
</html>