<!DOCTYPE html>
<html>
<head>
  <title>高校兼职平台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <style>
     input{
         border: 1px solid #ccc;
         padding: 7px 0px;
         border-radius: 3px;
         padding-left:5px;
         -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
         box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
         -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
         transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
     }
     input:focus{
         border-color: #66afe9;
         outline: 0;
         -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
         box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
     }
 </style>
</head>
<body>

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div style="width: 130px"></div>
    <a class="navbar-brand" href="/">
        <img src="/img/2.png" width="30" height="30" class="d-inline-block align-top" alt="">
        高校兼职
    </a>
    <div style="width: 30px"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><h4>首页</h4> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="User" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </a>
                <div class="dropdown-menu" aria-labelledby="User">
                    <a class="dropdown-item" href="#">个人中心</a>
                    <a class="dropdown-item" href="/user_set">帐号设置</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">退出</a>
                </div>
            </li>

        </ul>
    </div>
</nav>

<div>
    <h2 id="op_error" style="display: none"></h2>
    <h5 id="jump_test" style="display: none;position: absolute;left: 20%">正在执行页面跳转。。。</h5>
</div>
<div  style="position: absolute;right: 50%;bottom: 50%;">
    <div id="op_success" style="display: none">
    <div>
        <span><h5>新密码：</h5></span>
        <input class="text" placeholder="请输入您的新密码：" id="new_password" >
    </div>
    <div  id="hide3"  style="display: none">
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-sort-by-order-alt"></span>
        </button>
        <font size="2" color="red" id="error_prompt3"></font>
    </div>
    <br>
    <div>
        <span><h5>再次输入密码：</h5></span>
        <input class="text" placeholder="请再次输入密码：" id="re_new_password">
    </div>

    <div  id="hide1"  style="display: none">
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-sort-by-order-alt"></span>
        </button>
        <font size="2" color="red" id="error_prompt1"></font>
    </div>
    <br>
    <button type="button" class="btn btn-success" style="width:110px;position: absolute;right:25%" onclick="reset_password()">确定修改</button>
</div>
</div>


     <script src="/jquery-3.0.0.js"></script>
     <script src="/myJS.js"></script>
     <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
<script>
    $(function () {
        var email=getQueryString("email");
        var re_code=getQueryString("code");
        jude_reset_password(email,re_code);
    });
    var mouseout=document.getElementById("new_password");
    var re_mouseout=document.getElementById("re_new_password");
    var hide1=document.getElementById("hide1");
    var error_prompt1=document.getElementById("error_prompt1");
    var hide3=document.getElementById("hide3");
    var error_prompt3=document.getElementById("error_prompt3");
    mouseout.onmouseleave=function(){
        var new_password=$("#new_password").val();
        if(new_password=="") {
            error_prompt3.innerText="密码不能为空！";
            hide3.style.display="";
        }
        else {
            hide3.style.display="none";
        }
    };
    re_mouseout.onmouseleave=function () {
        var new_password=$("#new_password").val();
        var re_new_password=$("#re_new_password").val();

         if(new_password!=re_new_password){
            error_prompt1.innerText="密码不一致!";
            hide1.style.display="";
        }
        else hide1.style.display="none";
    }
    function reset_password() {
        var new_password=$("#new_password").val();
        var re_new_password=$("#re_new_password").val();
        var email=getQueryString("email");
        var re_code=getQueryString("code");
        if(new_password==re_new_password) reset_password1(email,re_code);
    }
</script>
</html>